<div class="contactsMainContainer">
    <div id="contactsBar" class="contactsBar">
        <div id="contactList" class="contactList">
            
        </div>
    </div>

    <div id="contactsContainer" class="contactsContainer">
        <div class="contactsContentHeaderContainer">
            <div class="contactsContentHeader">
                <div class="contactsTopNavBarText">Kanban Project Management Tool</div>
                <div>
                    <h1>Contacts</h1>
                </div>
                <div class="contactsVline"></div>
                <div>
                    Better with a team
                </div>
                <div class="contactsVline2"></div>
            </div>
            <div onclick="backToContactsList()">
                <img src="../img/arrowLeft.svg">
            </div>
        </div>


        <div id="contactsContent" class="contactsContent">
            
        </div>
    </div>

    <button id="newContactButton" class="newContactButton" onclick="newContact()">
        <span>New contact</span>
        <img src="./img/newContact.svg">
    </button>
</div>