<!-- Summary -->
<div class="summaryMainContainer">
    <div class="summaryLeftContainer">
        <div class="summaryLeftHeadline">
            <div class="summaryHeadline">Summary</div>
            <div class="summaryLineDescription">
                <div class="summaryLine"></div>
                <div class="summaryDescription">Everything in a nutshell</div>
            </div>
            <div class="summaryLine2"></div>
        </div>

        <div class="summaryBothContainer">
            <div class="summaryLeftCards">
                <div class="allTopCards">
                    <div class="topCardLeft positionInsideAllCards allCardsBorderRadius topCard" onclick="displayPage('mainBoardContainerDisplay'), initBoard(), activeTab('board')">
                        <div class="topCardNumber cardNumberTopBottom allCardsNumberFontSize" id="taskCounter"></div>
                        <div class="topCardText cardTextTopBottom">Tasks in Board</div>
                    </div>
                    <div class="topCardmiddle positionInsideAllCards allCardsBorderRadius topCard" onclick="displayPage('mainBoardContainerDisplay'), initBoard(), activeTab('board')">
                        <div class="topCardNumber cardNumberTopBottom allCardsNumberFontSize" id="inProgressCounter"></div>
                        <div class="topCardText cardTextTopBottom">Tasks in Progress</div>
                    </div>
                    <div class="topCardRight positionInsideAllCards allCardsBorderRadius topCard" onclick="displayPage('mainBoardContainerDisplay'), initBoard(), activeTab('board')">
                        <div class="topCardNumber cardNumberTopBottom allCardsNumberFontSize" id="awaitingFeedbackCounter"></div>
                        <div class="topCardText cardTextTopBottom">Awaiting Feedback</div>
                    </div>
                </div>

                <div class="middleCard allCardsBorderRadius" onclick="displayPage('mainBoardContainerDisplay'), initBoard(), activeTab('board')">
                    <div class="middleCardUrgent">
                        <img src="./img/urgent1.svg">
                        <div class="positionInsideAllCards">
                            <div class="middleCardUrgentNumber" id="urgentCounter"></div>
                            <div class="middleCardUrgentText">
                                <span>
                                    Urgent
                                </span> 
                            </div>
                        </div>

                    </div>
                    <div class="middleCardBorder"></div>
                    <div class="middleCardDeadline">
                        <div class="middleCardDeadlineDate" id="deadlineDate"></div>
                        <div class="middleCardDeadlineText">Upcomming Deadline</div>
                    </div>
                </div>

                <div class="allBottomCards">
                    <div class="bottomCardLeft allCardsBorderRadius bottomCard" onclick="displayPage('mainBoardContainerDisplay'), initBoard(), activeTab('board')">
                        <div class="bottomCardsImg bottomCardsImgTodo"></div>
                        <div class="positionInsideAllCards">
                            <div class="bottomCardNumber cardNumberTopBottom allCardsNumberFontSize"id="todoCounter"></div>
                            <div class="bottomCardText cardTextTopBottom">To-Do</div>
                        </div>
                    </div>
                    <div class="bottomCardRight allCardsBorderRadius bottomCard" onclick="displayPage('mainBoardContainerDisplay'), initBoard(), activeTab('board')">
                        <div class="bottomCardsImg bottomCardsImgDone"></div>
                        <div class="bottomCardsDetails">
                            <div class="bottomCardNumber cardNumberTopBottom allCardsNumberFontSize" id="doneCounter"></div>
                            <div class="bottomCardText cardTextTopBottom">Done</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="summaryRightContainer">
                <div class="greeting" id="greeting"></div>
                <div class="greetingName" id="userName"></div>
            </div>
        </div>
    </div>
</div>